<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    
    <iisnode devErrorsEnabled="true" loggingEnabled="true" nodeProcessCommandLine="node.exe" />
    
    <rewrite>
      <rules>
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.js\/debug[\/]?" />
        </rule>
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <httpErrors existingResponse="PassThrough" />
    <webSocket enabled="false" />

    <staticContent>

      <remove fileExtension=".css" />

      <mimeMap fileExtension=".css" mimeType="text/css" />

      <remove fileExtension=".js" />

      <mimeMap fileExtension=".js" mimeType="application/javascript" />

      <remove fileExtension=".json" />

      <mimeMap fileExtension=".json" mimeType="application/json" />

      <remove fileExtension=".svg" />

      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />

    </staticContent>
  </system.webServer>
</configuration>